body{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    background:#fdf3f3;
    color:#ddd;

}

a{
    text-decoration:underline;
    font-size:14px;
    color:#fd8b8b;;
}

p, h2{
    word-spacing:.02rem;
    letter-spacing:.01rem;
    line-height:1.4rem;
}

img{
    width:100%;
    display:block;
    object-fit:cover;
    height:auto;
}

.page_wrapper{
    max-width:600px;
    height:auto;
    margin:0 auto;
    display:block;
}

.table_header table{
    text-align:center;
}

.table_header #header_top img{
    height:60px;
    width:100%;
    object-fit:none;
}

.product_body .product_full{
    background:#fff;
}

.product_body .product_full .product_des{
    text-align:center;
    padding:20px 30px 40px 30px;
}
.product_body .copy_margin{
    margin-top:40px;
}

.product_body .product_full .product_des h1{
    font-size:22px;
    font-weight:700;
    color:#161616;
    margin:0;
    padding:0;
}
.product_body .product_full .product_des p{
    font-size:14px;
    font-weight:700;
    color:#161616;

   
}
.product_body .product_full .product_des .p_title_top{
    font-size:12px;
    font-weight:700;
    color:#7c7c7c;
    margin:0;

   
}
.product_body .product_full .product_des .btn_red{
   padding:12px 10px;
   background:#fd5959;
   border:none;
   outline:none;
   cursor:pointer;
   border-radius:5px;
   font-size:15px;
   color:#fff;
   
}

table, tbody, tr, td{
    border-spacing:0;
}

 .section_footer{
    text-align:center;
    margin-bottom:20px;
}
.section_footer .footer_social{
    display:inline;
}
.section_footer .footer_social td{
    padding:0 5px;
}

.footer_bt_full .footer_bt{
    text-align:center;
}
.footer_bt_full .footer_bt .copyright{
    font-size:14px;
    font-weight:400;
    color:#161616;
    font-style:italic;
    margin:0;
}
.footer_bt_full .footer_bt p{
    font-size:14px;
    font-weight:400;
    color:#161616;
    margin:0;
    margin-top:14px;
    margin-bottom:20px;
}
.footer_bt_full .footer_bt p a{
    color:#fd8b8b;
    font-style: italic;
}
